# Игнорируем виртуальное окружение
venv/
.venv/
env/
tracker.db

# Игнорируем кэш Python
**/__pycache__/
*.pyc

# Игнорируем скрытые настройки редакторов
.vscode/
.idea/

# Игнорируем файлы с секретами (токены, пароли)
.env