# Игнорируем виртуальное окружение
venv/
.venv/
env/

# Игнорируем локальную базу данных
data/

# Игнорируем кэш Python
**/__pycache__/
*.pyc

# Игнорируем скрытые настройки редакторов
.vscode/
.idea/

# Игнорируем файлы с секретами (токены, пароли)
.env